<div class= "container-fluid">
  <div class="row" style="margin-top: 20px">
    <div class="col-12" style="min-height: 200px" >
       <slideshow class="slide" [height]="height"
           [minHeight]="'400px'"
           [autoPlay]="false"
           [showArrows]="true"
           [imageUrls]="imageSources"
           [lazyLoad]="imageSources?.length > 1"
           [autoPlayWaitForLazyLoad]="true">
      </slideshow>
    </div>
  </div>
  <article>
    <div class="row">
      <div class="col-9" style="margin-top: 50px">
       <div class="introduction">
         <p>
         {{'HOME.INTRODUCTION' | translate}}
         </p>
         <p style="margin-top: 20px;text-align: center" >
           <strong style="color: darkblue;margin-top: 50px;margin-bottom: 20px">{{'HOME.PROGRAM_INTRODUCTION' | translate}} </strong><br>
           <a routerLink="/weeklyTraining program">{{'TOOLBAR.WEEKLY_TRAINING' |translate}}</a><br>
           <a routerLink="/privateClass program">{{'TOOLBAR.PRIVATE_CLASS' | translate}}</a><br>
           <a routerLink="/beginnerBasketball program"> {{'TOOLBAR.BEGINNER_BASKET' | translate}}</a><br>
           <a routerLink="/winterCamp">{{'TOOLBAR.WINTER_CAMP' | translate}}</a><br>
           <a routerLink="/summerCamp">{{'TOOLBAR.SUMMER_CAMP' | translate}}</a>
         </p>
       </div>
      </div>
      <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller_home.mp4" type="video/mp4">
         </video>
      </div>
    </div>

  </article>
</div>
<footer style="background-color:skyblue;margin-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="title">{{'HOME.SITE_MAP' | translate}}</div>
        <div class="text_link">
          <ul>
            <li><a routerLink="/home">{{'TOOLBAR.HOME' | translate}}</a></li>
            <li><a routerLink="/about">{{'TOOLBAR.ABOUT' | translate}}</a></li>
            <li><a routerLink="/weeklyTraining program">{{'TOOLBAR.WEEKLY_TRAINING' | translate}}</a></li>
            <li><a routerLink="/privateClass program">{{'TOOLBAR.PRIVATE_CLASS' | translate}}</a></li>
            <li><a routerLink="/beginnerBasketball program">{{'TOOLBAR.BEGINNER_BASKET' | translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-4">
         <div  class="title">{{'TOOLBAR.CONTACT' | translate}}</div>
         <p>
           <a href="tel:+8613248022245">{{'HOME.TEL' | translate}}</a> <br>
           <a href="mailto:genius.baller@hotmail.com "> {{'HOME.EMAIL' | translate}}</a><br>
           {{'HOME.SCAN_QR' | translate}}<br>
           <a routerLink="/contact">
            <img class="qrcode" src="http://localhost/prisc_app/admin/upload/geniusballerqr.jpg" alt="wechatqr" style="width: 50px; height: 50px" ><br>
            </a>
          </p>
      </div>
      <div class="col-4">
        <div class="title">{{'HOME.FOLLOW' | translate}}</div>
        <a class="icon_fb" href="https://www.facebook.com/Genius-Baller-104081634568635/" target="_blank"></a>
        <a class = "icon_instagram" href="https://www.instagram.com" target="_blank"></a>
        <a class = "icon_wechat" href="" routerLink="/contact" target="_blank"></a>

      </div>
    </div>

  </div>
</footer>
