<div class="container-fluid">
    <div class="row">
<!--        <div class="col-sm-10" *ngFor="let Video of dataService.myVideos | async; let i=index">-->
<!--            <video width="270" height="220"   controls disabled="true"  (click)="toggleVideo()" #videoPlayer>-->
<!--                <source [src]="Video.Videos" type="video/mp4">-->
<!--            </video>-->
        <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller_home.mp4" type="video/mp4">
         </video>
        </div>
        <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller_privateclass.mp4" type="video/mp4">
         </video>
      </div>
       <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller1.mp4" type="video/mp4">
         </video>
       </div>
        <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller2.mp4" type="video/mp4">
         </video>
      </div>
       <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller3.mp4" type="video/mp4">
         </video>
      </div>
       <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/Genius_baller4.mp4" type="video/mp4">
         </video>
      </div>
      <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/video_christmas.mp4" type="video/mp4">
         </video>
      </div>
      <div class="col-3" style="margin-top: 100px">
         <video width="400" controls>
           <source src="http://localhost/prisc_app/admin/videos/video_christmas.mp4" type="video/mp4">
         </video>
      </div>

    </div>

</div>

